dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.hie
.ghc.environment.*
result
result-*

.pre-commit-config.yaml

tmp

controller.tar.gz

cli/licenses.md

tags
v011.json
