name: nix-cache

on:
  push: 
    # tags:
    #   - "v*.*.*"
    branches:
      - "master"

permissions:
  contents: read

jobs:
  nix:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: DeterminateSystems/nix-installer-action@main
      with:
        source-tag: "v0.32.0"
    - uses: DeterminateSystems/magic-nix-cache-action@main
    - uses: cachix/cachix-action@v15
      with:
        name: codchi
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: nix build .#checks.x86_64-linux.populate-cache -L
